@charset "UTF-8";

html {
  font-size: 100%;
  scroll-behavior: smooth;  /*トップページに戻るボタン（CSS版）*/
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
body {
  font-family: Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 16px;
  max-width: 1600px;
  height: auto;
  margin: 0 auto;
  overflow-x: hidden; /* 横スクロール禁止 */
}
a {
  color: black;
  font-weight: 800;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: 0.5;
  font-size: 22px;
  /*color: rgb(15, 15, 224);*/
}
/*--------------------------------
 レイアウト
---------------------------------*/
.container {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 0 30px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.home-header {
  width: 100%;
  height: 100vh;
  align-items: center;
  background-image: url(../images/header_title_img.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  /*border: 3px solid rgb(218, 26, 19);*/
}
.menu-container {
  margin-right: 50px;
  position: relative;
  display: flex;
  height: 250px;
  /*border: 2px solid rgb(27, 29, 9);*/
}
.menu-btn {
  margin-top: 50px;
  top: 0;
  right: 0;
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  /*border: 2px solid rgb(233, 148, 21);*/
}
.menu-btn img {
  display: inline-block;
  width: 70px;
  height: auto;
  transition: transform 0.4s ease; /* 変化を滑らかにするトランジション効果 */
  /*border: 2px solid rgb(212, 233, 21);*/
}
.menu-btn img:hover {
  transform: scale(1.1); /* マウスホバー時画像を1.1倍に拡大 */
}
.menu-items {
  width: 150px;
  top: 0; /* メニューボタンの下に～px離れて表示 */
  right: 80px; /* メニューボタンの右端からの距離 */
  font-size: 14px;  /* メニューアイテムのフォントサイズ */
  display: none;
  position: absolute;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.menu-items ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}
.menu-items ul li {
  padding: 10px 0;
}
.menu-items li:last-child {
  border-bottom: none;
}
.menu-items ul li a {
  text-decoration: none;
  color: #504848;
}
.menu-list li:hover {
  color: #FF0000; /* ホバー時のフォントカラー */
  background-color: #e7c870; /* ホバー時の背景色 */
  cursor: pointer; /* ホバー時のカーソルスタイル */
}
.menu-list li a:hover {
  color: #FF0000; /* ホバー時のフォントカラー */
  font-size: 14px; /* ホバー時のフォントサイズを適宜調整 */
}
.menu-items ul li a:hover {
  color: #FF0000; /* ホバー時のフォントカラー */
}
.menu-title {
  width: 80%;
  top: 0;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /*border: 2px solid rgb(25, 21, 233);*/
}
.logo_img {
  flex: 1;
  display: inline-block;
  max-width: 300px;
  height: auto;
  transform: translateY(-100px);
  /*border: 2px solid rgb(233, 21, 222);*/
}
.logo_title {
  flex: 1;
  display: inline-block;
  max-width: 500px;
  height: auto;
  /*border: 2px solid rgb(21, 233, 145);*/
}
/*--------------------------------
メイン
---------------------------------*/
main {
  max-width: 1600px;
  margin: 0 auto;
  background-image: url(../images/haikei_ichimatsu.png);
  background-repeat: repeat;
  padding-bottom: 20px;
  /*border: 2px solid rgb(11, 53, 240);*/
}
.marker1 {
  border-bottom:solid;
  border-color:#e9e88ec9;
  border-width:5px;
}

/*--------------------------------
 コンセプト
---------------------------------*/
.concept h2 {
  color: yellow;
  font-size: 22px;
  font-weight: 600;
}
.concept {
  margin: 0 auto;
  padding-top: 20px;
  width: 80%;
  font-size: 22px;
}
.concept > .container {
  display: flex;
  align-items: center;
}
.concept_img {
  flex: 1;
  width: 50%;
}
.concept_desc {
  flex: 1;
  width: 50%;
  padding-right: 20px;
  padding-left: 40px;
}
.concept .subtitle {
  color: #ccc;
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}
.concept .title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #24a8bf;
  margin-bottom: 30px;
}
.concept .text p {
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.1em;
  color: #fff;
}

/*--------------------------------
 有名人
---------------------------------*/
.celebrities {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  font-size: 16px;
  margin-bottom: 30px;
}
.celebrities h2 {
  font-size: 20px;
  color: skyblue;
}
/* テーブル全体の装飾 */
.celebrities table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse; /* セル間の隙間をなくす */
}
/* テーブルのヘッダ行の装飾 */
.celebrities th {
  background-color: #f2f2f2; /* 背景色をグレーに設定 */
  font-weight: bold; /* フォントを太字に設定 */
  padding: 10px; /* セル内の余白を設定 */
  text-align: left; /* 文字を左寄せに設定 */
}
/* テーブルのデータ行の装飾 */
.celebrities td {
  font-size: 14px;
  border: 1px solid #e2ded7; /* セルの境界線を灰色に設定 */
  padding: 8px; /* セル内の余白を設定 */
}
/* 奇数行の背景色を設定 */
.celebrities tr:nth-child(odd) {
  background-color: #e7dbc0fa; /* 背景色を薄いグレーに設定 */
}
/* 偶数行の背景色を設定 */
.celebrities tr:nth-child(even) {
  background-color: #e9e27cd3; /* 背景色を薄いグレーに設定 */
}

.btn {
  display: block;
  position: relative;
  width: 220px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  color: #24a8bf;
  text-align: center;
  margin: 0 auto;
  padding: 18px 0;
  transition: opacity 0.3s;
  /*border: 1px solid #24a8bf;*/
  border-radius: 3px;
}

.btn::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: 1em;
  width: 5px;
  height: 9px;
  transform: translateY(-50%);
  background-image: url("./images/icon_arrow-right.png");
  background-repeat: no-repeat;
  background-size: 5px 9px;
}

/*--------------------------------
index.php　フッター
---------------------------------*/
.footer {
  max-width: 1600px;
  padding: 20px 0 20px;
  background-color: #494141;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 2px solid rgb(240, 19, 11);*/
}
.footer .logo {
  display: inline-block;
  margin-right: 30px;
  /*border: 2px solid rgb(11, 240, 87);*/
}
.logo img {
  width: 70px;
  height: auto;
  transform: rotate( -15deg );
}
.footer .copyright {
  display: inline-block;
  font-size: 22px;
  /*letter-spacing: 0.05em;*/
  color: #dad5d5;
  text-align: left;
  /*border: 2px solid rgb(11, 137, 240);*/
}
/*//////////////////////////////////////////////////////////////////////////////////////*/
/*ページトップボタン（CSS版）*/
.pagetop {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: transparent;
  border: solid 2px #dbd579;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.pagetop__arrow {
  height: 10px;
  width: 10px;
  border-top: 3px solid #dbd579;
  border-right: 3px solid #dbd579;
  transform: translateY(20%) rotate(-45deg);
}
/*///////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////*/
/*メディアクエリ*/
/*///////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width:950px) and (max-width:1200px) {
.logo_img {
    max-width: 300px;
    transform: translateY(-100px);
  }
}
@media screen and (min-width:600px) and (max-width:834px) {
.menu-title {
    top: 15%;
    justify-content: center;
}
.logo_img {
    max-width: 250px;
    transform: translateY(-80px);
}
.logo_title {
    max-width: 300px;
    transform: translateY(-100px);
}
.concept {
    width: 100%;
}
.container {
    margin-top: 10px;
    justify-content: space-between;
    padding: 0 10px;
}
.concept_desc {
    padding-right: 10px;
    padding-left: 10px;
}
.concept .text p {
    font-size: 12px;
}
}

@media screen and (min-width:360px) and (max-width:599px) {
  .home-header {
  text-align: center;
  max-width: 100%;
  height: 100vh;
  /*border: 3px solid rgb(218, 26, 19);*/
}
.menu-title {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  align-items: center;
  /*border: 2px solid rgb(25, 21, 233);*/
}
.logo_img {
  display: inline-block;
  max-width: 200px;
  height: auto;
  transform: translateY(20px);
  margin-bottom: 30px;
  /*border: 2px solid rgb(233, 21, 222);*/
}
.logo_title {
  margin: 0 auto;
  max-width: 300px;
}
.container {
  display: flex;
  flex-direction: column; /* カラム方向に要素を配置 */
  width: 100%;
  margin: 0 auto;
  padding: 0 5px;
  /*border: 2px solid blue;*/
}
.concept {
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
  font-size: 22px;
}
.concept_desc {
  width: 100%;
  padding: 0 10%;
  flex: 1;
  order: -1;
}
.concept_img {
  order: 1;
  width: 100%; /* 幅を100%に設定して、親要素の幅いっぱいに広げる */
}
.celebrities {
  width: 100%;
}
.celebrities td {
  font-size: 10px;
  border: 1px solid #e2ded7; /* セルの境界線を灰色に設定 */
  padding: 4px; /* セル内の余白を設定 */
}
td {
  width: 120px; /* 任意の幅を指定 */
}
.footer .logo img {
  width: 50px;
  height: auto;
}
.footer .copyright {
  font-size: 16px;
}
}

/*/////////////////////////////////////////////////////////////////////////
loginmanage.php　ログイン画面　：　問い合わせ管理ページ
/////////////////////////////////////////////////////////////////////////*/
.admin-login-header {
  text-align: center; /* テキストを中央揃え */
  margin-top: 30px; /* 上部の余白を設定 */
        }
.loginInputArea {

}
.wrap2 {
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 150px;
  padding: 50px;
  background-color: rgb(57, 112, 212);
  border-radius: 10px;
  border: 2px solid rgb(79, 132, 231);
}
#adminloginForm {
  margin: 0 auto;
  text-align: center;
  width: 300px;
  /*border: 2px solid rgb(4, 9, 19);*/
}
.admininput-field {
  font-size: 14px;
}
#adminloginbtn {
  margin: 0 auto;
}
#adminloginbtn {
  margin: 0 auto;
  border-radius: 5px;
  border: 2px solid rgb(66, 65, 65);
  background-color: #ccc; /* デフォルト：ボタン灰色設定 */
}
.input-valid {
  background-color: #a4f1a4; /* 緑色 */
}
.input-invalid {
  border: 4px solid red; /* 不正な入力の場合のボーダーを赤色に設定 */
}
/*--------------------------------
loginmanage.php　フッター
---------------------------------*/
.footer2 {
  max-width: 1600px;
  background-color: #494141;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  /*border: 2px solid rgb(240, 19, 11);*/
}
.footer2 .logo2 img {
  width: 50px;
  display: inline-block;
  margin: 0 10px;
  height: auto;
  transform: rotate( -15deg );
}
.footer2 .copyright2 {
  display: inline-block;
  font-size: 16px;
  /*letter-spacing: 0.05em;*/
  color: #dad5d5;
  text-align: left;
  /*border: 2px solid rgb(11, 137, 240);*/
}



/*/////////////////////////////////////////////////////////////////////////
registmanage.php　登録画面　　　　　　　　　　　　：　問い合わせ管理ページ
/////////////////////////////////////////////////////////////////////////*/
h2 {
  font-size: 22px;
}
.admin-regist-header {
  text-align: center; /* テキストを中央揃え */
  margin-top: 30px; /* 上部の余白を設定 */
}
.wrap3 {
  font-size: 14px;
  width: 60%;
  min-height: 350px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
  background-color: rgb(243, 243, 74);
  /*border-radius: 10px;*/
  border: 10px solid black;
}
.registmenu {
  margin: 0 auto;
  padding-right: 10%;
  text-align: right;
  width: 100%;
  /*border: 2px solid rgb(214, 51, 29);*/
}
.adminregist-field {
  width: 200px;
  font-size: 14px;
}
.registbtn {
  bottom: 50px;
  margin: 0 auto;
  text-align: center;
  width: 150px;
  /*pointer-events: none; /* 初期状態ではボタンがクリックされない設定 */
  /*border: 2px solid rgb(27, 74, 202);*/
}
.registbtn button {
  margin-top: 50px;
  width: 120px;
  height: 40px;
  color: #ffffff;
  background-color: #ccc;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.registbtn button.active-button {
  background-color: rgb(71, 71, 231);
  color: white;
}
.input-valid {
  background-color: #a4f1a4; /* 緑色 */
}
.input-invalid {
  border: 4px solid red; /* 不正な入力の場合のボーダーを赤色に設定 */
}
#passmatch-alert {
  display: none;
  color: red;
  font-size: 12px;
}
.registtologinlink {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  /*border: 2px solid rgb(240, 19, 11);*/
}
/*--------------------------------
registmanage.php　フッター
---------------------------------*/
.footer2 {
  max-width: 1600px;
  background-color: #494141;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  /*border: 2px solid rgb(240, 19, 11);*/
}
.footer2 .logo2 img {
  width: 50px;
  display: inline-block;
  margin: 0 10px;
  height: auto;
  transform: rotate( -15deg );
}
.footer2 .copyright2 {
  display: inline-block;
  font-size: 16px;
  /*letter-spacing: 0.05em;*/
  color: #dad5d5;
  text-align: left;
  /*border: 2px solid rgb(11, 137, 240);*/
}
